body , html{
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    position: relative;
}

/*/////////////////////HEADER//////////////////*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

header h1 {
    margin-left: 10px;
}

#main_navbar ul {
    display: flex;
    justify-content: space-between;
}

#main_navbar li {
    list-style: none;
    margin: 0px 10px;
    position: relative;
}

/*///////////////////////Menu déroulant////////////////*/
#chapter_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 0px 10px 10px;
}

#chapter_menu:hover .list_menu {
    display: block;
}

#chapter_menu .list_menu {
padding: 0px 0px 5px;
    width: 145%;
    text-align: center;
    display: none;
    background-color: gray;
    position: absolute;
    z-index: 100;
    margin-top: 20px;

}

#chapter_menu a:hover {
    background-color: lightblue;
}
#chapter_menu .list_menu li{
margin: 5px;
}

/*/////////////////////MAIN//////////////////*/
main{
    min-height: 80vh;
}

/*/////////////////////FOOTER//////////////////*/
footer {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 100%;
}
/*/////////////////////////TINYMCE///////////////////////*/
.tox-tinymce{
    min-height: 60vh;
}
/*///////////////////////////ADMIN PANEL/////////////////*/
#list_chapters_container{
    display: flex;
    justify-content: space-around;
}
#admin_chapter_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 20px 0px;
    border: 1px solid black;
    padding: 20px 5px;   
}
#admin_chapter_container p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}