body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
}

.btn {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

/*/////////////////////HEADER//////////////////*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

header h1 {
    margin-left: 10px;
}

#main_navbar ul {
    display: flex;
    justify-content: space-between;
}

#main_navbar li {
    list-style: none;
    margin: 0px 10px;
    position: relative;
}

/*///////////////////////Menu déroulant////////////////*/
#chapter_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 0px 10px 10px;
}

#chapter_menu:hover .list_menu {
    display: block;
}

#chapter_menu .list_menu {
    padding: 0px 0px 5px;
    width: 145%;
    text-align: center;
    display: none;
    background-color: gray;
    position: absolute;
    z-index: 100;
    margin-top: 20px;

}

#chapter_menu a:hover {
    background-color: lightblue;
}

#chapter_menu .list_menu li {
    margin: 5px;
}

/*/////////////////////MAIN//////////////////*/
main {
    min-height: 80vh;
}

/*/////////////////////FOOTER//////////////////*/
footer {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 100%;
}

/*/////////////////////////TINYMCE///////////////////////*/
.tox-tinymce {
    min-height: 60vh;
}

/*///////////////////////////ADMIN PANEL/////////////////*/
#menu_admin {
    display: flex;
    justify-content: center;
}
/****************Admin chapters**************/
#admin_chapter h2 {
    text-align: center;
}

.list_content_admin {
    display: flex;
    flex-flow: row wrap;
}

.admin_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    margin: 20px 10px;
    border: 1px solid black;
    padding: 10px 5px;
}

.admin_content_container .resume {
    padding: 5px 10px;
    overflow: hidden;
}

.admin_content_container .date_time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    margin: 10px;
}
/****************Admin comments**************/
#admin_comment h2 {
    text-align: center;
}

#admin_comments_content {
    display: flex;
    flex-direction: row;
}
#comment_container .title_chapter_comment{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.title_chapter_comment h3{
    margin: 0px 5px;
}
#admin_comments_content{
    display: none;
}
.comment_list_container:hover #admin_comments_content{
    display: flex;
}
/****************Admin comments reported**************/
#admin_comment_reported h2 {
    text-align: center;
}

#admin_comment_reported span {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#admin_comment_reported .acquit_com_btn{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}